---
import type { Canto } from "../content.config";
import { getAnalisiCantica } from "../content.config";
import Layout from "../layouts/Layout.astro";
import Main from "./_sections/Main.astro";
import { romanize } from "romans";

const dateSort = (a: Canto, b: Canto) =>
  a.data.data.getTime() - b.data.data.getTime();

const analyses = {
  inferno: await getAnalisiCantica("inferno"),
  purgatorio: await getAnalisiCantica("purgatorio"),
  paradiso: await getAnalisiCantica("paradiso"),
};
---

<Layout>
  <Main />

  <div class="max-w-screen-lg px-3 xs:px-4 mx-auto py-8 md:px-8">
    <div class="space-y-10">
      {
        Object.entries(analyses).map(([cantica, analyses]) => (
          <section>
            <h2 id={cantica} class="font-bold text-lg mb-3 uppercase">
              {cantica}
            </h2>
            <ul class="space-y-6">
              {analyses.sort(dateSort).map(({ data, rendered }) => (
                <li class="border bg-white shadow-md rounded-sm px-4 py-3 xs:px-5 xs:py-4">
                  <h3 class="capitalize text-2xl">
                    {cantica} - Canto {romanize(data.canto)}
                  </h3>
                  <p class="text-sm text-neutral-500 leading-none -mt-0.5 mb-3 pl-0.5">
                    incontro: {data.data.format()}
                  </p>
                  {rendered && (
                    <div
                      set:html={rendered.html}
                      class="mb-3 max-w-screen-lg text-neutral-800"
                    />
                  )}
                  {!!data.analisi.length && (
                    <div class="inline-block">
                      <b class="font-medium">analisi individuali:</b>
                      <ul class="inline-flex gap-2 pl-1">
                        {data.analisi.map((a) => (
                          <li class="after:pl-1 after:opacity-50 after:[content:'|'] last:after:hidden">
                            <a
                              class="text-blue-700"
                              href={a.url}
                              target="_blank"
                            >
                              {a.titolo}
                            </a>
                          </li>
                        ))}
                      </ul>
                    </div>
                  )}
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </div>
</Layout>
