---
import Layout from "../layouts/Layout.astro";
import { getAnalysis } from "../content";

const analysis = await getAnalysis();
const cantiche = Object.entries(analysis).filter(
  ([_, content]) => content.length > 0
);
---

<Layout>
  <div class="grid place-content-center min-h-full">
    <div class="max-w-screen-lg px-4 text-justify md:px-8 mt-20 mb-40">
      <main>
        <p class="mb-2 uppercase text-neutral-600">Analisi di Gruppo:</p>
        <h1 class="text-3xl font-bold">Divina Commedia</h1>
        <p class="text-xl">Dante Alighieri</p>
        <div class="flex gap-8 mt-3">
          {
            cantiche.map(([cantica]) => (
              <a href={"#" + cantica} class="text-blue-800 uppercase">
                {cantica}
              </a>
            ))
          }
        </div>
      </main>
      <br />
      <section>
        <p>
          Questo sito raccoglie il lavoro di analisi di gruppo sulla <i
            >Divina Commedia</i
          > realizzato da tre partecipanti (CM, EH e ST). Ogni settimana, un canto
          è stato analizzato individualmente per essere poi discusso insieme, creando
          una sintesi che riflette il confronto e la collaborazione del gruppo.
        </p>
        <br />
        <p>
          L'obiettivo di questo lavoro è mostrare come la creatività individuale
          affondi le sue radici nella vita soggettiva di gruppo. Sebbene il
          soggetto venga solitamente visto come parziale, un lavoro realmente
          creativo svolto con onestà porta al riconoscimento una verità che è
          tale secondo il criterio della necessità, e che perciò deve essere
          ritenuta indipendente dal soggetto che vi entra in contatto. Ogni
          partecipante contribuisce dunque con una verità colorata della sua
          qualità individuale esprimendola sottoforma di un bagaglio di
          esperienze ed informazioni differenti e uniche, arricchendosi e
          arricchendo il gruppo attraverso il confronto, promuovendo lo sviluppo
          di un crescente discernimento del'unica realtà soggettiva, per mezzo
          della rinuncia alla propria visione particolare (identificata con
          l'esperienza) a favore della comprezione reciproca e dell'integrazione
          di gruppo.
        </p>
      </section>
    </div>
  </div>
  <div class="max-w-screen-xl px-4 mx-auto py-8 md:px-8">
    <div class="space-y-10">
      {
        cantiche.map(([cantica, content]) => (
          <section>
            <h2 id={cantica} class="font-bold text-lg mb-3 uppercase">
              {cantica}
            </h2>
            <ul class="space-y-6">
              {content.map((canto) => (
                <li class="border bg-white shadow-md rounded-sm px-5 pt-3.5 pb-4">
                  <h3 class="capitalize text-2xl">
                    {cantica} - Canto {canto.canto}
                  </h3>
                  <p class="text-sm text-neutral-500 leading-none -mt-0.5 mb-3 pl-0.5">
                    incontro: {canto.date.format()}
                  </p>
                  <ul class="space-y-2 pl-8 *:leading-tight *:relative *:before:absolute *:before:top-2 *:before:-left-4 *:before:block *:before:size-1.5 *:before:rounded-full *:before:bg-neutral-900">
                    {canto.sintesi && (
                      <li>
                        <b>sintesi:</b> {canto.sintesi}
                      </li>
                    )}
                    <li>
                      <div class="inline-block">
                        <b>analisi individuali:</b>
                        <ul class="inline-flex gap-2 pl-1">
                          {canto.authors.map((author) => (
                            <li class="after:pl-1 after:opacity-50 after:[content:'|'] last:after:hidden">
                              <a
                                class="text-blue-700"
                                href={author.filePath}
                                target="_blank"
                              >
                                {author.name.toUpperCase()}
                              </a>
                            </li>
                          ))}
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </div>
</Layout>
